@import "tailwindcss";

@theme {
  --color-primary-100: #000814;
  --color-primary2-100: #001d3d;
  --color-secondary-100: #003570;
  --color-secondary2-100: #ffc300;
  --color-tertiary-100: #ffd60a;
}

.logo {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
}

Link {
  text-decoration: none;
}
