@import "tailwindcss";

@theme {
  --color-primary-100: #000814;
  --color-primary2-100: #001d3d;
  --color-secondary-100: #003570;
  --color-secondary2-100: #ffc300;
  --color-tertiary-100: #ffd60a;
}

Link {
  text-decoration: none;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.1em solid orange;
  white-space: nowrap;
  margin: 1 auto;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.logo {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
