.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#particles canvas {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

#loader {
  margin: auto;
}

#background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #023047;
  z-index: -2;
  position: absolute;
}
